[package]
name = "etcdv3client"
version = "0.1.0"
authors = ["opensuse <kuwater@163.com>"]
edition = "2018"

[features]
gen = ["protobuf-codegen-pure"]

[dependencies]
grpc            = "0.6.1"
protobuf        = { version = "2.0" }
failure         = "~0.1"
futures         = "~0.1"
futures-cpupool = "~0.1"
tls-api            = "~0.1"
tls-api-native-tls = "~0.1"
httpbis         = "~0.7"
env_logger      = "~0.5"
tokio = "~0.1"

[build-dependencies]
protobuf-codegen-pure = {version = "2.0", optional = true}
