[package]
name = "etcdv3client"
version = "0.1.0-beta.1"
authors = ["zzzdong <kuwater@163.com>"]
edition = "2018"
license = "MIT"
readme = "README.md"
repository = "https://github.com/zzzdong/etcdv3client-rust"
homepage = "https://github.com/zzzdong/etcdv3client-rust"
documentation = "https://docs.rs/etcdv3client/"
description = """
a simple etcdv3 client
"""
categories = ["asynchronous", "network-programming"]
keywords = ["etcd", "async"]

[dependencies]
http = "0.2"
prost = "0.6"
thiserror = "1.0"
tonic = { version = "0.1", features = ["tls"] }
tokio = { version = "0.2", features = ["default", "stream", "sync"] }


[build-dependencies]
tonic-build = "0.1"


[dev-dependencies]
tokio = { version = "0.2", features = ["full"] }
